@tailwind base;
@tailwind components;
@tailwind utilities;

input{
  color: black;
  width: 500px;
  height: 40px;
  margin: 12px;
  
  /* background: red; */
  border: 3px solid black;
  border-radius: 10px;
  font-weight: bold;
}
input ::placeholder{
  padding: 5px;
}
form{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 34px;
}
.action{
  width: 100%;
  /* border: 3px solid red; */
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: rgb(92, 98, 96);
}
h1{
  font-size: 23px;
  font-weight: bold;
}
h2{
  font-size: 18px;
}